<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
  {% include head-custom.html %}

  {% seo %}
</head>

<body>

  <header>

    <div class="container">

      <a id="a-title" href="{{ '/' | relative_url }}">
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
      </a>

      <div id="yt-miniplayer">
        <button id="yt-audio-btn"><i class="fa-solid fa-play"></i></button>
        <span id="yt-track-title">{{ page.music_title | default: "Welcome to the Jungle" }}</span>
        <span id="yt-timer">0:00 / 0:00</span>
      </div>

      <iframe id="yt-audio-iframe" width="0" height="0"
        src="https://www.youtube.com/embed/{{ page.youtube_id | default: '0CNPR2qNzxk' }}?enablejsapi=1&controls=0&modestbranding=1&rel=0"
        allow="autoplay; encrypted-media">
      </iframe>

    </div>
  </header>

  <div class="container">
    <section id="main_content">
      {{ content }}
    </section>
  </div>

  <script src="{{ '/assets/js/utils.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/player.js' | relative_url }}"></script>
  
</body>

</html>